Repository kartuli-app/kartuli: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, conflict-markers, large-files, debug-patterns

lefthook.yml:

# Git hooks configuration for Kartuli monorepo
# See: https://github.com/evilmartians/lefthook

# Pre-commit hook: Fast checks on staged files only
pre-commit:
  parallel: true
  commands:
    # Format staged files automatically
    format:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true
    
    # Lint staged files with auto-fixes
    lint:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: pnpm exec biome lint --write {staged_files}
      fail_text: |
        ‚ùå Linting failed. Please fix the errors above.
        Run 'pnpm lint:fix' to auto-fix issues.
    
    # Check for merge conflict markers
    conflict-markers:
      glob: "*"
      run: |
        if grep -E '^(<<<<<<<|=======|>>>>>>>)' {staged_files}; then
          echo "‚ùå Merge conflict markers detected in staged files:"
          grep -n -E '^(<<<<<<<|=======|>>>>>>>)' {staged_files}
          echo ""
          echo "Please resolve merge conflicts before committing."
          exit 1
        fi
    
    # Check for large files in src/ directories
    large-files:
      glob: "src/**/*"
      run: |
        large_files=$(find {staged_files} -size +5M 2>/dev/null || true)
        if [ -n "$large_files" ]; then
          echo "‚ùå Large files detected (>5MB) in src/ directories:"
          echo "$large_files"
          echo ""
          echo "Please remove large files from src/ directories or add them to .gitignore."
          exit 1
        fi
    
    # Check for common debugging patterns (configurable)
    debug-patterns:
      glob: "*.{js,jsx,ts,tsx}"
      run: |
        if grep -E '(console\.log|debugger|alert\()' {staged_files} >/dev/null 2>&1; then
          echo "‚ö†Ô∏è  Debug patterns detected in staged files:"
          grep -n -E '(console\.log|debugger|alert\()' {staged_files}
          echo ""
          echo "Consider removing debug statements before committing."
          echo "Use 'git commit --no-verify' to bypass this check if needed."
          exit 1
        fi

# Commit message hook: Enforce Conventional Commits
commit-msg:
  commands:
    validate-conventional-commit:
      run: .lefthook/commit-msg/validate-conventional-commit.sh {1}

# Pre-push hook: Run checks on affected workspaces only
pre-push:
  parallel: false
  commands:
    # Typecheck affected packages
    typecheck:
      run: |
        echo "üîç Running typecheck on affected packages..."
        pnpm turbo run typecheck --filter='[HEAD^]'
    
    # Run unit tests on affected packages (exclude E2E)
    test:
      run: |
        echo "üß™ Running tests on affected packages..."
        pnpm turbo run test --filter='[HEAD^]' --filter='!@kartuli/e2e'

chore(ci): add DEPLOY_TARGET input to staging workflow for improved deployment flexibility
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

refactor(tests): replace console error helper with new implementation and streamline Vercel protection bypass
  tools/e2e/tests/backoffice-client/smoke.spec.ts
  tools/e2e/tests/game-client/smoke.spec.ts
  tools/e2e/tests/helpers/apply-vercel-protection-bypass.ts
  tools/e2e/tests/helpers/expect-no-critical-console-errors.ts
  tools/e2e/tests/storybook/smoke.spec.ts
  tools/e2e/tests/web-docs-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

chore: update lefthook configuration to lint all files and remove automatic formatting
  lefthook.yml
  tools/e2e/tests/backoffice-client/smoke.spec.ts
  tools/e2e/tests/game-client/smoke.spec.ts
  tools/e2e/tests/helpers/expect-no-critical-console-errors.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): refactor staging orchestrator workflow to use CI setup action and add validate e2e job for linting and typechecking
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): add repository checkout step in staging orchestrator workflow for improved CI setup
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): remove dependency on detect-affected in validate e2e job of staging orchestrator workflow
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

test(ci): add intentional e2e lint error to verify validate-e2e job
  tools/e2e/tests/backoffice-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

chore(turbo): update linting inputs to include all file types in the project
  turbo.json
Due: format, lint, conflict-markers

fix(tests): restore import of applyVercelProtectionBypass in smoke tests
  tools/e2e/tests/backoffice-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): remove upload of Lighthouse artifacts from staging workflow
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): add permissions to jobs in staging orchestrator workflow
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): improve server readiness check and update Lighthouse URL validation in staging workflow
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): enhance Lighthouse URL handling in staging workflow with improved variable usage
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): enhance error handling and console logging in E2E tests and staging workflow
  .github/workflows/staging-w-app-nextjs.yml
  tools/e2e/tests/helpers/expect-no-critical-console-errors.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): simplify condition for build validation in staging workflow
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): remove Vercel from deploy targets in staging orchestrator workflow
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(tests): update console error handling in E2E tests to capture late errors during hydration
  tools/e2e/tests/helpers/expect-no-critical-console-errors.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): rename jobs in staging orchestrator workflow for clarity
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): add include-checkout input to CI setup action and remove unused deploy workflows
  .github/actions/ci-setup/action.yml
  .github/workflows/app-deploy-main.yml
  .github/workflows/app-deploy-pr.yml.disabled
  .github/workflows/production-w-app-backoffice-client.yml
  .github/workflows/production-w-app-game-client.yml
  .github/workflows/production-w-tool-web-docs-client.yml
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
  .github/workflows/web-docs-client-validate-staging.yml.disabled
  tools/e2e/tests/backoffice-client/production/production.spec.ts
  tools/e2e/tests/game-client/production/production.spec.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): add include-checkout input to CI setup action and remove unused deploy workflows
  .github/actions/ci-setup-node/action.yml
  .github/actions/ci-validate-monorepo-package/action.yml
  .github/workflows/production-w-app-backoffice-client.yml
  .github/workflows/production-w-app-game-client.yml
  .github/workflows/production-w-tool-web-docs-client.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
  lefthook.yml
Due: conflict-markers

chore(ci): update CI setup and validation job names for consistency across workflows
  .github/workflows/production-w-app-backoffice-client.yml
  .github/workflows/production-w-app-game-client.yml
  .github/workflows/production-w-tool-web-docs-client.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(tests): rename test cases for clarity and improve structure validation in E2E tests
  tools/e2e/tests/backoffice-client/production/production.spec.ts
  tools/e2e/tests/game-client/production/production.spec.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): restore permissions for contents read access in production workflow
  .github/workflows/production-w-tool-web-docs-client.yml
Due: conflict-markers

chore(ci): improve preview server readiness check in staging workflow
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(docs): update contributing guide and README with additional resources; remove obsolete production deploy workflow
  .github/workflows/web-docs-client-deploy-production.yml
  CONTRIBUTING.md
  README.md
  docs/apps/backoffice-client/ci-cd-production.md
  docs/apps/backoffice-client/ci-cd-staging.md
  docs/apps/backoffice-client/index.md
  docs/apps/game-client/ci-cd-production.md
  docs/apps/game-client/ci-cd-staging.md
  docs/apps/game-client/index.md
  docs/providers/github-actions-ci-cd.md
  docs/providers/vercel-nextjs-hosting.md
  docs/tech/architecture/pipeline-overview.md
  docs/tech/development/production-pipelines.md
  docs/tech/development/quality-tooling.md
  docs/tech/development/root-scripts.md
  docs/tech/development/staging-pipelines.md
  docs/tools/e2e/ci-cd-production.md
  docs/tools/e2e/ci-cd-staging.md
  docs/tools/e2e/index.md
  docs/tools/storybook/ci-cd-staging.md
  docs/tools/storybook/index.md
  docs/tools/web-docs-client/ci-cd-production.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/index.md
  tools/e2e/README.md
Due: conflict-markers

chore(docs): enhance documentation on dead link checking and update build process details
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/vitepress-implementation.md
  tools/web-docs-client/.vitepress/config.mts
Due: conflict-markers

chore(ci): update BASE_URL in staging workflow to include path for preview server
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(ci): enhance pre-commit and pre-push scripts with CI environment variables and no-daemon option
  docs/tools/web-docs-client/ci-cd-staging.md
  lefthook.yml
Due: conflict-markers

chore(ci): enhance typecheck and test commands in lefthook with fallback options for first commit scenarios
  .github/actions/ci-setup-playwright/action.yml
  lefthook.yml
  tools/e2e/tests/backoffice-client/production/smoke.spec.ts
  tools/e2e/tests/game-client/production/smoke.spec.ts
  tools/e2e/tests/helpers/expect-no-critical-errors.ts
  tools/e2e/tests/storybook/smoke.spec.ts
  tools/e2e/tests/web-docs-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

refactor(tests): improve error message handling in expectNoCriticalErrors helper function
  tools/e2e/tests/helpers/expect-no-critical-errors.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): improve Playwright caching and enhance preview server readiness check in staging workflow
  .github/actions/ci-setup-playwright/action.yml
  .github/workflows/staging-w-tool-storybook.yml
  tools/e2e/tests/helpers/expect-no-critical-errors.ts
  tools/e2e/tests/storybook/smoke.spec.ts
  tools/e2e/tests/web-docs-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

chore(ci): enhance staging workflow with dynamic run name for better clarity
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): standardize naming format in staging workflow for consistency
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): add dynamic run-name to nextjs stagingn workflow (#50)
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(deps): remove search-insights dependency from pnpm configuration
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/web-docs-client/package.json
Due: format, lint, conflict-markers

chore(deps): update @lhci/cli to version 0.15.0 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: format, lint, conflict-markers

chore(deps): update lefthook to version 2.0.0 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: format, lint, conflict-markers

chore(deps): update dependencies in pnpm-lock.yaml and pnpm-workspace.yaml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: conflict-markers

chore(deps): replace jsdom with happy-dom in package.json, vitest.config.ts, pnpm-lock.yaml, and pnpm-workspace.yaml
  apps/backoffice-client/package.json
  apps/backoffice-client/vitest.config.ts
  apps/game-client/package.json
  apps/game-client/vitest.config.ts
  packages/ui/package.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, conflict-markers, debug-patterns
