Repository kartuli-app/kartuli: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, conflict-markers, large-files, debug-patterns

lefthook.yml:

# Git hooks configuration for Kartuli monorepo
# See: https://github.com/evilmartians/lefthook

# Pre-commit hook: Fast checks on staged files only
pre-commit:
  parallel: true
  commands:
    # Format staged files automatically
    format:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: pnpm exec biome format --write {staged_files}
      stage_fixed: true
    
    # Lint staged files with auto-fixes
    lint:
      glob: "*.{js,jsx,ts,tsx,json}"
      run: pnpm exec biome lint --write {staged_files}
      fail_text: |
        ‚ùå Linting failed. Please fix the errors above.
        Run 'pnpm lint:fix' to auto-fix issues.
    
    # Check for merge conflict markers
    conflict-markers:
      glob: "*"
      run: |
        if grep -E '^(<<<<<<<|=======|>>>>>>>)' {staged_files}; then
          echo "‚ùå Merge conflict markers detected in staged files:"
          grep -n -E '^(<<<<<<<|=======|>>>>>>>)' {staged_files}
          echo ""
          echo "Please resolve merge conflicts before committing."
          exit 1
        fi
    
    # Check for large files in src/ directories
    large-files:
      glob: "src/**/*"
      run: |
        large_files=$(find {staged_files} -size +5M 2>/dev/null || true)
        if [ -n "$large_files" ]; then
          echo "‚ùå Large files detected (>5MB) in src/ directories:"
          echo "$large_files"
          echo ""
          echo "Please remove large files from src/ directories or add them to .gitignore."
          exit 1
        fi
    
    # Check for common debugging patterns (configurable)
    debug-patterns:
      glob: "*.{js,jsx,ts,tsx}"
      run: |
        if grep -E '(console\.log|debugger|alert\()' {staged_files} >/dev/null 2>&1; then
          echo "‚ö†Ô∏è  Debug patterns detected in staged files:"
          grep -n -E '(console\.log|debugger|alert\()' {staged_files}
          echo ""
          echo "Consider removing debug statements before committing."
          echo "Use 'git commit --no-verify' to bypass this check if needed."
          exit 1
        fi

# Commit message hook: Enforce Conventional Commits
commit-msg:
  commands:
    validate-conventional-commit:
      run: .lefthook/commit-msg/validate-conventional-commit.sh {1}

# Pre-push hook: Run checks on affected workspaces only
pre-push:
  parallel: false
  commands:
    # Typecheck affected packages
    typecheck:
      run: |
        echo "üîç Running typecheck on affected packages..."
        pnpm turbo run typecheck --filter='[HEAD^]'
    
    # Run unit tests on affected packages (exclude E2E)
    test:
      run: |
        echo "üß™ Running tests on affected packages..."
        pnpm turbo run test --filter='[HEAD^]' --filter='!@kartuli/e2e'

docs: new documentation format (standards, providers, backlogs)
  docs/backlog/product-backlog.md
  docs/backlog/technical-backlog.md
  docs/index.md
  docs/mascot.png
  docs/package.json
  docs/product/product-overview.md
  docs/product/project-overview.md
  docs/providers/github-actions-ci-cd.md
  docs/providers/github-pages-hosting.md
  docs/tech/decisions/automatic-dependency-updates.md
  docs/tech/decisions/ci-cd-foundation.md
  docs/tech/decisions/code-quality.md
  docs/tech/decisions/core-tech-stack.md
  docs/tech/decisions/design-system.md
  docs/tech/decisions/documentation-management.md
  docs/tech/decisions/e2e-testing-implementation.md
  docs/tech/decisions/lighthouse-ci-integration.md
  docs/tech/decisions/monorepo-setup.md
  docs/tech/decisions/testing-strategy.md
  docs/tech/decisions/version-management.md
  docs/tech/development/ai-assisted-workflow.md
  docs/tech/development/code-conventions.md
  docs/tech/development/documentation/backlog-conventions.md
  docs/tech/development/documentation/documentation-standards.md
  docs/tech/development/documentation/index.md
  docs/tech/development/documentation/maintenance-workflow.md
  docs/tech/development/documentation/readme-standards.md
  docs/tech/development/github-workflow.md
  docs/tech/stack-and-providers.md
  docs/tools/web-docs-client/ci-cd-production.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/index.md
  docs/tools/web-docs-client/llm-bundle.md
  docs/tools/web-docs-client/scripts.md
  docs/tools/web-docs-client/vitepress-implementation.md
Due: format, lint, conflict-markers

chore: update build scripts and add documentation workflows
  .github/workflows/orchestrator-staging.yml
  .github/workflows/web-docs-client-deploy-production.yml
  .github/workflows/web-docs-client-validate-staging.yml
  README.md
  apps/backoffice-client/next-env.d.ts
  apps/backoffice-client/package.json
  apps/game-client/next-env.d.ts
  apps/game-client/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/web-docs-client/.vitepress/config.mts
  tools/web-docs-client/README.md
  tools/web-docs-client/package.json
  tools/web-docs-client/scripts/docs-processor.js
  tools/web-docs-client/scripts/generate-llm-bundle.js
  turbo.json
Due: format, lint, conflict-markers, debug-patterns

docs: new documentation format (standards, providers, backlogs) (#44)
  docs/backlog/product-backlog.md
  docs/backlog/technical-backlog.md
  docs/index.md
  docs/mascot.png
  docs/package.json
  docs/product/product-overview.md
  docs/product/project-overview.md
  docs/providers/github-actions-ci-cd.md
  docs/providers/github-pages-hosting.md
  docs/tech/decisions/automatic-dependency-updates.md
  docs/tech/decisions/ci-cd-foundation.md
  docs/tech/decisions/code-quality.md
  docs/tech/decisions/core-tech-stack.md
  docs/tech/decisions/design-system.md
  docs/tech/decisions/documentation-management.md
  docs/tech/decisions/e2e-testing-implementation.md
  docs/tech/decisions/lighthouse-ci-integration.md
  docs/tech/decisions/monorepo-setup.md
  docs/tech/decisions/testing-strategy.md
  docs/tech/decisions/version-management.md
  docs/tech/development/ai-assisted-workflow.md
  docs/tech/development/code-conventions.md
  docs/tech/development/documentation/backlog-conventions.md
  docs/tech/development/documentation/documentation-standards.md
  docs/tech/development/documentation/index.md
  docs/tech/development/documentation/maintenance-workflow.md
  docs/tech/development/documentation/readme-standards.md
  docs/tech/development/github-workflow.md
  docs/tech/stack-and-providers.md
  docs/tools/web-docs-client/ci-cd-production.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/index.md
  docs/tools/web-docs-client/llm-bundle.md
  docs/tools/web-docs-client/scripts.md
  docs/tools/web-docs-client/vitepress-implementation.md
Due: format, lint, conflict-markers

fix(ci): address SonarCloud findings for web-docs deploy and LLM bundle
  .github/workflows/web-docs-client-deploy-production.yml
  tools/web-docs-client/scripts/generate-llm-bundle.js
Due: format, lint, conflict-markers, debug-patterns

fix(ci): pin pnpm/action-setup to full SHA and document action pinning rule
  .cursorrules
  .github/workflows/orchestrator-staging.yml
  .github/workflows/web-docs-client-deploy-production.yml
  .github/workflows/web-docs-client-validate-staging.yml
  agents.md
Due: conflict-markers

chore: add staging orchestrator and improve Turbo (first step to new CI/CD) (#45)
  .cursorrules
  .github/workflows/orchestrator-staging.yml
  .github/workflows/web-docs-client-deploy-production.yml
  .github/workflows/web-docs-client-validate-staging.yml
  README.md
  agents.md
  apps/backoffice-client/next-env.d.ts
  apps/backoffice-client/package.json
  apps/game-client/next-env.d.ts
  apps/game-client/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/web-docs-client/.vitepress/config.mts
  tools/web-docs-client/README.md
  tools/web-docs-client/package.json
  tools/web-docs-client/scripts/docs-processor.js
  tools/web-docs-client/scripts/generate-llm-bundle.js
  turbo.json
Due: format, lint, conflict-markers, debug-patterns

chore(ci): remove redundant build step from production deployment workflow
  .github/workflows/app-deploy-main.yml
Due: conflict-markers

chore(ci): remove redundant build step from production deployment workflow (#46)
  .github/workflows/app-deploy-main.yml
Due: conflict-markers

chore(ci): update base branch for affected package detection in staging orchestrator
  .github/workflows/orchestrator-staging.yml
Due: conflict-markers

chore(ci): update base branch for affected package detection in staging orchestrator (#47)
  .github/workflows/orchestrator-staging.yml
Due: conflict-markers

chore(ci): remove deprecated workflows for app deployment and staging validation
  .github/actions/ci-setup/action.yml
  .github/actions/ci-validate/action.yml
  .github/workflows/app-deploy-pr.yml.disabled
  .github/workflows/orchestrator-staging.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-client-docs.yml
  .github/workflows/web-docs-client-validate-staging.yml.disabled
Due: conflict-markers

chore(ci): update condition checks in staging orchestrator for target detection
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): enhance GitHub Actions workflows with environment variables and secrets for improved package handling
  .github/actions/ci-validate/action.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-client-docs.yml
  pnpm-workspace.yaml
Due: conflict-markers

chore: add description to package.json for improved clarity
  package.json
Due: format, lint, conflict-markers

chore(ci): add checkout step to GitHub Actions workflows for staging
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-client-docs.yml
Due: conflict-markers

chore(ci): optimize CI validation step to run typecheck, lint, and tests in parallel
  .github/actions/ci-validate/action.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-client-docs.yml
Due: conflict-markers

chore(ci): update cache key in CI setup to use pnpm-lock.yaml hash for improved cache efficiency
  .github/actions/ci-setup/action.yml
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): enhance staging workflows with new deploy target and pull request number inputs
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): refine caching and validation steps in CI workflows for improved performance and reliability
  .github/actions/ci-setup/action.yml
  .github/actions/ci-validate/action.yml
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): update permissions in staging workflows for pull request handling
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore: update package.json scripts and documentation for web-docs-client
  .github/ISSUE_TEMPLATE/feature_or_task.md
  .github/labels.yml
  .github/workflows/web-docs-client-deploy-production.yml
  .github/workflows/web-docs-client-validate-staging.yml.disabled
  README.md
  apps/backoffice-client/src/app/page.tsx
  apps/game-client/src/app/page.tsx
  docs/tools/web-docs-client/ci-cd-production.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/vitepress-implementation.md
  package.json
  tools/e2e/README.md
  tools/e2e/tests/backoffice-client/smoke.spec.ts
  tools/e2e/tests/helpers/console-errors.ts
  tools/e2e/tests/storybook/smoke.spec.ts
  tools/e2e/tests/web-docs-client/smoke.spec.ts
  tools/web-docs-client/README.md
Due: format, lint, conflict-markers, debug-patterns

chore(ci): rename staging workflow for web docs client and remove obsolete file
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(ci): update staging workflows to include build and E2E testing steps for storybook and web-docs-client
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
  tools/storybook/package.json
Due: format, lint, conflict-markers

chore(ci): increase sleep duration in staging workflow for storybook preview server
  .github/workflows/staging-w-tool-storybook.yml
Due: conflict-markers

chore(ci): add Playwright setup step to staging workflows for E2E testing
  .github/actions/ci-setup-playwright/action.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(ci): add LLM bundle generation step to staging workflow for web-docs-client
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(ci): reduce sleep duration in staging workflow for storybook preview server
  .github/workflows/staging-w-tool-storybook.yml
Due: conflict-markers

chore(ci): update staging workflow and package.json for local deployment configuration
  .github/workflows/staging-w-app-nextjs.yml
  apps/backoffice-client/package.json
Due: format, lint, conflict-markers

chore(ci): add artifact upload step for E2E test failures in staging workflows
  .github/workflows/staging-w-app-nextjs.yml
  .github/workflows/staging-w-tool-storybook.yml
  .github/workflows/staging-w-tool-web-docs-client.yml
Due: conflict-markers

chore(ci): update E2E test command in staging workflow to use TARGET variable
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): enhance staging workflows to include Vercel project ID for deployment
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): remove Vercel project ID handling from staging workflows
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): disable fail-fast strategy in staging orchestrator workflow
  .github/workflows/staging-orchestrator.yml
Due: conflict-markers

chore(ci): add Vercel secrets to staging workflows for deployment
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): add GitHub token to staging workflow for deployment
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

chore(ci): update staging workflows to support multiple deployment targets
  .cursor/plans/local_and_vercel_deploy_targets_e4f220e9.plan.md
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
Due: conflict-markers

docs: update CONTRIBUTING and GitHub Actions documentation to include collaboration and security guidelines
  CONTRIBUTING.md
  docs/providers/github-actions-ci-cd.md
  docs/providers/github-repo-management.md
Due: conflict-markers

docs: update documentation standards to require absolute URLs for external links
  .cursorrules
  agents.md
  docs/providers/github-repo-management.md
  docs/tech/development/documentation/documentation-standards.md
Due: conflict-markers

chore(ci): update Vercel protection bypass secrets in workflows and documentation
  .github/workflows/app-deploy-main.yml
  .github/workflows/staging-orchestrator.yml
  .github/workflows/staging-w-app-nextjs.yml
  docs/providers/github-actions-ci-cd.md
Due: conflict-markers
