Repository kartuli-app/kartuli: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, conflict-markers, large-files, debug-patterns

format:
  run: pnpm exec biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec biome lint --write {staged_files}
  fail_text: '‚ùå Linting failed. Please fix the errors above.
  
    Run ''pnpm lint:fix'' to auto-fix issues.
  
    '

conflict-markers:
  run: "if grep -E '^(<<<<<<<|=======|>>>>>>>)' {staged_files}; then\n  echo \"‚ùå Merge conflict markers detected in staged files:\"\n  grep -n -E '^(<<<<<<<|=======|>>>>>>>)' {staged_files}\n  echo \"\"\n  echo \"Please resolve merge conflicts before committing.\"\n  exit 1\nfi\n"

large-files:
  run: "large_files=$(find {staged_files} -size +5M 2>/dev/null || true)\nif [ -n \"$large_files\" ]; then\n  echo \"‚ùå Large files detected (>5MB) in src/ directories:\"\n  echo \"$large_files\"\n  echo \"\"\n  echo \"Please remove large files from src/ directories or add them to .gitignore.\"\n  ex
  ...

debug-patterns:
  run: "if grep -E '(console\\.log|debugger|alert\\()' {staged_files} >/dev/null 2>&1; then\n  echo \"‚ö†Ô∏è  Debug patterns detected in staged files:\"\n  grep -n -E '(console\\.log|debugger|alert\\()' {staged_files}\n  echo \"\"\n  echo \"Consider removing debug statements before committing.\"\n  ec
  ...

chore: implement Lighthouse CI integration
  apps/game-client/src/app/layout.tsx
  docs/tech/decisions/lighthouse-ci-integration.md
  lighthouserc.json
  package.json
Due: format, lint, conflict-markers, debug-patterns

chore: Integrate Lighthouse CI in PR deployment workflow
  .github/workflows/app-deploy-pr.yml
Due: conflict-markers

chore: Add Lighthouse CI checks and artifact uploads
  .github/workflows/app-deploy-main.yml
Due: conflict-markers

chore: update pnpm-lock.yaml with Lighthouse CI dependency
  pnpm-lock.yaml
Due: conflict-markers

fix(lighthouse): correct environment variable syntax in lighthouserc.json
  lighthouserc.json
Due: format, lint, conflict-markers

fix(lighthouse): correct Lighthouse CI configuration for mobile settings
  .lighthouseci/assertion-results.json
  .lighthouseci/lhr-1761088623489.html
  .lighthouseci/lhr-1761088623489.json
  .lighthouseci/links.json
  lighthouserc.json
Due: format, lint, conflict-markers

fix(lighthouse): update workflow commands to use correct lhci syntax
  .github/workflows/app-deploy-main.yml
  .github/workflows/app-deploy-pr.yml
Due: conflict-markers

feat(lighthouse): capture and use actual Lighthouse report URLs in PR comments
  .github/workflows/app-deploy-main.yml
  .github/workflows/app-deploy-pr.yml
Due: conflict-markers

feat(mascot): mascot poc
  apps/game-client/next.config.ts
  apps/game-client/package.json
  apps/game-client/public/kartuli-logo.svg
  apps/game-client/public/mascot-2.jpg
  apps/game-client/public/mascot.png
  apps/game-client/public/undraw_loving-it_hspq.svg
  apps/game-client/src/app/[nativeLang]/[gameLang]/content-dock.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/dock-button.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/dock-buttons.ts
  apps/game-client/src/app/[nativeLang]/[gameLang]/layout.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/logo.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/mascot-context.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/mascot-toast.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/mascot-types.ts
  apps/game-client/src/app/[nativeLang]/[gameLang]/mascot.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/me/page.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/more/page.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/page.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/recommended-game-card.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/saved/page.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/search/page.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/sequences.ts
  apps/game-client/src/app/[nativeLang]/[gameLang]/shell-layout.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/shell-setttings-per-page.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/sidebar-dock.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/sidebar.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/surface-button.tsx
  apps/game-client/src/app/[nativeLang]/[gameLang]/undraw_loving-it_hspq.svg
  apps/game-client/src/app/[nativeLang]/[gameLang]/utils.tsx
  apps/game-client/src/app/layout.tsx
  apps/game-client/src/app/theme.css
  apps/game-client/src/pwa/metadata.ts
  apps/game-client/src/pwa/viewport.tsx
  apps/game-client/src/ui/components/shell/root-layout.tsx
  apps/game-client/src/ui/sizes.txt
  apps/game-client/src/ui/styles/globals.css
  apps/game-client/src/ui/styles/theme.css
  biome.json
  pnpm-lock.yaml
Due: format, lint, conflict-markers, debug-patterns

chore: implement Lighthouse CI integration (#22)
  .github/workflows/app-deploy-main.yml
  .github/workflows/app-deploy-pr.yml
  .lighthouseci/assertion-results.json
  .lighthouseci/lhr-1761088623489.html
  .lighthouseci/lhr-1761088623489.json
  .lighthouseci/links.json
  apps/game-client/src/app/layout.tsx
  docs/tech/decisions/lighthouse-ci-integration.md
  lighthouserc.json
  package.json
  pnpm-lock.yaml
Due: format, lint, conflict-markers, debug-patterns

flashcards
  apps/game-client/src/app/app/(for-you)/page.tsx
  apps/game-client/src/app/app/box.tsx
  apps/game-client/src/app/app/content.tsx
  apps/game-client/src/app/app/flashcards-carrousel.tsx
  apps/game-client/src/app/app/mode-switch.tsx
  apps/game-client/src/domains/app/components/app-shell/app-bar/app-bar-title.tsx
  apps/game-client/src/domains/app/components/app-shell/app-bar/app-bar.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock.tsx
  apps/game-client/src/domains/app/components/app-shell/app-shell.css
  apps/game-client/src/domains/app/components/app-shell/app-shell.tsx
Due: format, lint, conflict-markers, debug-patterns

premium for you
  apps/backoffice-client/next-env.d.ts
  apps/game-client/next-env.d.ts
  apps/game-client/src/app/app/(for-you)/page copy.tsx
  apps/game-client/src/app/app/(for-you)/page.tsx
  apps/game-client/src/app/app/box.tsx
  apps/game-client/src/app/app/flashcards-carrousel.tsx
  apps/game-client/src/app/app/navigation/routes.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-links copy.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-links.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-menu.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock.tsx
Due: format, lint, conflict-markers, debug-patterns

refactor: update styling and layout in various components
  apps/game-client/src/domains/app/components/app-shell/app-bar/app-bar.tsx
  apps/game-client/src/domains/app/components/app-shell/app-content/app-content.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock.tsx
  apps/game-client/src/domains/app/components/hub-mode-switch.tsx
  apps/game-client/src/domains/app/pages/for-you-page.tsx
  apps/game-client/src/domains/shared/components/user-stats-card.tsx
Due: format, lint, conflict-markers, debug-patterns

refactor: update package versions and improve component structure
  apps/game-client/src/app/app/flashcards-carrousel.tsx
  apps/game-client/src/domains/app/pages/for-you-page.tsx
  apps/game-client/src/domains/app/pages/freestyle-page.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, conflict-markers, debug-patterns

refactor: rename flashcards carrousel component and update imports
  apps/game-client/src/app/app/(for-you)/page copy.tsx
  apps/game-client/src/app/app/word-flashcards-carrousel.tsx
  apps/game-client/src/domains/app/pages/freestyle-page.tsx
Due: format, lint, conflict-markers, debug-patterns

refactor: rename FlashcardsCarrousel to WordFlashcardsCarrousel in imports and component usage
  apps/game-client/src/app/app/(for-you)/page copy.tsx
Due: format, lint, conflict-markers, debug-patterns

chore: clean up pnpm-lock.yaml by removing unused dependencies
  pnpm-lock.yaml
Due: conflict-markers

refactor: reorder imports and clean up component structure in game client
  apps/backoffice-client/next-env.d.ts
  apps/game-client/next-env.d.ts
  apps/game-client/src/app/app/(for-you)/page copy.tsx
  apps/game-client/src/app/app/word-flashcards-carrousel.tsx
  apps/game-client/src/domains/app/components/app-shell/app-bar/app-bar-back-button.tsx
  apps/game-client/src/domains/app/components/app-shell/app-bar/app-bar.tsx
  apps/game-client/src/domains/app/components/app-shell/app-content/app-content.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-links.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-menu.tsx
  apps/game-client/src/domains/app/components/app-shell/app-shell.css
  apps/game-client/src/domains/app/components/app-shell/app-shell.tsx
  apps/game-client/src/domains/app/pages/for-you-page.tsx
  apps/game-client/src/domains/app/pages/freestyle-page.tsx
  apps/game-client/src/domains/app/pages/work-in-progress-page.tsx
  apps/game-client/src/domains/app/routes/route-utils.ts
  apps/game-client/src/domains/app/routes/routes.tsx
  apps/game-client/src/domains/shared/components/user-stats-card.tsx
Due: format, lint, conflict-markers, debug-patterns

chore: update @types/react and @types/react-dom versions in pnpm-lock and workspace files
  apps/backoffice-client/next-env.d.ts
  apps/game-client/next-env.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint, conflict-markers, debug-patterns

chore: remove unused page copy component from game client
  apps/game-client/src/app/app/(for-you)/page copy.tsx
Due: format, lint, conflict-markers, debug-patterns

refactor(game-client): update landing page structure and redirect logic
  apps/backoffice-client/next-env.d.ts
  apps/game-client/src/app/app/game/[lessonId]/page.tsx
  apps/game-client/src/app/app/lesson/[lessonId]/page.tsx
  apps/game-client/src/app/landing/page.tsx
  apps/game-client/src/app/page.tsx
  apps/game-client/src/domains/app/pages/freestyle-page.tsx
  apps/game-client/src/domains/app/pages/game-page.tsx
  apps/game-client/src/domains/app/pages/lesson-lobby-page.tsx
  apps/game-client/src/domains/info/pages/landing-page.test.tsx
  tools/e2e/tests/game-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

refactor(game-client): improve visibility check in smoke tests by using getByRole
  tools/e2e/tests/game-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

refactor(game-client): update webServer configuration in Playwright tests and improve TypeScript import formatting
  tools/e2e/playwright.config.ts
  tools/e2e/tests/game-client/smoke.spec.ts
Due: format, lint, conflict-markers, debug-patterns

refactor(game-client): enhance routing and client-side navigation with updated redirects and useParams
  apps/game-client/next.config.ts
  apps/game-client/public/icon-192x192.png
  apps/game-client/public/icon-512x512.png
  apps/game-client/public/sw.js
  apps/game-client/src/app/app/game/[lessonId]/page.tsx
  apps/game-client/src/app/app/lesson/[lessonId]/page.tsx
  apps/game-client/src/app/manifest.ts
  apps/game-client/src/app/page.tsx
  apps/game-client/src/domains/app/components/app-shell/app-bar/app-bar-back-button.tsx
  apps/game-client/src/domains/app/pages/freestyle-page.tsx
  apps/game-client/src/domains/app/pages/game-page.tsx
  apps/game-client/src/domains/app/pages/lesson-lobby-page.tsx
  apps/game-client/src/domains/shared/components/root-layout.tsx
  apps/game-client/src/domains/shared/components/service-worker-register.tsx
Due: format, lint, conflict-markers, debug-patterns

refactor(game-client): clean up unused components and improve import formatting
  apps/game-client/src/app/app/(for-you)/page.tsx
  apps/game-client/src/app/app/[[...slug]]/page.tsx
  apps/game-client/src/app/app/freestyle/page.tsx
  apps/game-client/src/app/app/game/[lessonId]/page.tsx
  apps/game-client/src/app/app/layout.tsx
  apps/game-client/src/app/app/lesson/[lessonId]/page.tsx
  apps/game-client/src/app/app/privacy/page.tsx
  apps/game-client/src/app/app/profile/page.tsx
  apps/game-client/src/app/app/resources/page.tsx
  apps/game-client/src/app/app/saved/page.tsx
  apps/game-client/src/app/app/search/page.tsx
  apps/game-client/src/app/app/terms/page.tsx
  apps/game-client/src/app/manifest.ts
  apps/game-client/src/domains/app/components/app-shell/app-content/app-content.tsx
  apps/game-client/src/domains/app/components/app-shell/app-shell.tsx
  apps/game-client/src/domains/shared/components/root-layout.tsx
  apps/game-client/src/domains/shared/components/service-worker-register.tsx
Due: format, lint, conflict-markers, debug-patterns

refactor(game-client): update package dependencies and improve routing configuration
  apps/game-client/next-env.d.ts
  apps/game-client/next.config.ts
  apps/game-client/package.json
  apps/game-client/public/sw.js
  apps/game-client/src/app/app/[[...slug]]/page.tsx
  apps/game-client/src/app/app/layout.tsx
  apps/game-client/src/app/manifest.ts
  apps/game-client/src/app/serwist.tsx
  apps/game-client/src/app/serwist/[path]/route.ts
  apps/game-client/src/app/sw.ts
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-links.tsx
  apps/game-client/src/domains/app/components/app-shell/app-dock/app-dock-menu.tsx
  apps/game-client/src/domains/app/components/app-shell/app-shell.tsx
  apps/game-client/src/domains/app/components/hub-mode-switch.tsx
  apps/game-client/src/domains/app/pages/freestyle-page.tsx
  apps/game-client/src/domains/app/pages/lesson-lobby-page.tsx
  apps/game-client/src/domains/shared/components/root-layout.tsx
  apps/game-client/tsconfig.json
  pnpm-lock.yaml
Due: format, lint, conflict-markers, debug-patterns

chore(global): configure renovate
  README.md
  apps/backoffice-client/next-env.d.ts
  apps/game-client/next-env.d.ts
  docs/tech/stack-and-providers.md
  renovate.json
Due: format, lint, conflict-markers, debug-patterns

fix(global): remove unsupported renovate manager
  renovate.json
Due: format, lint, conflict-markers

fix(global): remove unsupported renovate manager (#27)
  renovate.json
Due: format, lint, conflict-markers

chore(global): switch renovate titles to commitMessage fields
  renovate.json
Due: format, lint, conflict-markers

chore(global): switch renovate titles to commitMessage fields (#30)
  renovate.json
Due: format, lint, conflict-markers

chore(global): enable renovate vulnerability alerts
  renovate.json
Due: format, lint, conflict-markers

chore(global): enable renovate vulnerability alerts (#32)
  renovate.json
Due: format, lint, conflict-markers

docs(decisions): add automatic dependency updates adr
  docs/tech/decisions/automatic-dependency-updates.md
Due: conflict-markers

docs(decisions): add automatic dependency updates adr (#38)
  docs/tech/decisions/automatic-dependency-updates.md
Due: conflict-markers

docs: dummy commit to test staging ci
  .github/workflows/web-docs-client-validate-staging.yml
  docs-old/index.md
  docs-old/kartuli-llm.txt
  docs-old/product/project-overview.md
  docs-old/tech/decisions/ci-cd-foundation.md
  docs-old/tech/decisions/code-quality.md
  docs-old/tech/decisions/core-tech-stack.md
  docs-old/tech/decisions/design-system.md
  docs-old/tech/decisions/documentation-management.md
  docs-old/tech/decisions/e2e-testing-implementation.md
  docs-old/tech/decisions/lighthouse-ci-integration.md
  docs-old/tech/decisions/monorepo-setup.md
  docs-old/tech/decisions/testing-strategy.md
  docs-old/tech/decisions/version-management.md
  docs-old/tech/development/ai-assisted-workflow.md
  docs-old/tech/development/code-conventions.md
  docs-old/tech/development/github-workflow.md
  docs-old/tech/stack-and-providers.md
  docs/index.md
  docs/product-backlog.md
  docs/providers/github-actions-ci-cd.md
  docs/providers/github-pages-hosting.md
  docs/tech/decisions/automatic-dependency-updates.md
  docs/tech/development/documentation/documentation-standards.md
  docs/tech/development/documentation/index.md
  docs/tech/development/documentation/maintenance-workflow.md
  docs/technical-backlog.md
  docs/tools/web-docs-client/ci-cd-production.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/index.md
  tools/web-docs-client/.vitepress/config.mts
  tools/web-docs-client/package.json
  tools/web-docs-client/scripts/docs-processor.js
  tools/web-docs-client/scripts/generate-llm-bundle.js
Due: format, lint, conflict-markers, debug-patterns

chore(docs): remove outdated documentation files and update index with a new structure
  .github/workflows/web-docs-client-deploy-production.yml
  docs-old/index.md
  docs-old/kartuli-llm.txt
  docs-old/product/project-overview.md
  docs-old/tech/decisions/ci-cd-foundation.md
  docs-old/tech/decisions/code-quality.md
  docs-old/tech/decisions/core-tech-stack.md
  docs-old/tech/decisions/design-system.md
  docs-old/tech/decisions/documentation-management.md
  docs-old/tech/decisions/e2e-testing-implementation.md
  docs-old/tech/decisions/lighthouse-ci-integration.md
  docs-old/tech/decisions/monorepo-setup.md
  docs-old/tech/decisions/testing-strategy.md
  docs-old/tech/decisions/version-management.md
  docs-old/tech/development/ai-assisted-workflow.md
  docs-old/tech/development/code-conventions.md
  docs-old/tech/development/github-workflow.md
  docs-old/tech/stack-and-providers.md
  docs/backlog/product-backlog.md
  docs/backlog/technical-backlog.md
  docs/index.md
  docs/mascot.png
  docs/product-backlog.md
  docs/product/product-overview.md
  docs/providers/github-actions-ci-cd.md
  docs/providers/github-pages-hosting.md
  docs/tech/development/documentation/backlog-conventions.md
  docs/tech/development/documentation/documentation-standards.md
  docs/tech/development/documentation/index.md
  docs/tech/development/documentation/maintenance-workflow.md
  docs/technical-backlog.md
  docs/tools/web-docs-client/ci-cd-production.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/index.md
  tools/web-docs-client/.vitepress/config.mts
  tools/web-docs-client/scripts/docs-processor.js
  tools/web-docs-client/scripts/generate-llm-bundle.js
Due: format, lint, conflict-markers, debug-patterns

docs: update documentation structure and content for clarity and consistency
  docs/backlog/product-backlog.md
  docs/backlog/technical-backlog.md
  docs/index.md
  docs/product/product-overview.md
  docs/tech/development/documentation/backlog-conventions.md
  docs/tech/development/documentation/documentation-standards.md
  docs/tech/development/documentation/index.md
  docs/tech/development/documentation/maintenance-workflow.md
  docs/tools/web-docs-client/ci-cd-staging.md
  docs/tools/web-docs-client/index.md
Due: conflict-markers

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json}
  lint: any of: *.{js,jsx,ts,tsx,json}
  conflict-markers: any of: *
  large-files: any of: src/**/*
  debug-patterns: any of: *.{js,jsx,ts,tsx}
